<!DOCTYPE html>

<html>

<head>
    <title>MySheetWallet</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to update sheet bitkub</p>

        <form>
            <input id="input-1" placeholder="API Key">
            <input id="input-2" placeholder="Secret">
            <input id="input-3" placeholder="Sheet ID">
            <div class="input-button">
                <button>Update Sheet</button>
            </div>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>